#main {
	color: rgb(50,50,50)
	background-color; rgb(xxx,xxx,xxx);
	width: 1000px;
	margin-left: auto;
	margin-right: auto;

	text-align: center;
	font-size:25;
	color:rgb(xxx,xxx,xxx)
}
h1 {
	color: rgb(50,50,50)
	background-color; rgb(xxx,xxx,xxx);
	width: 1000px;
	margin-left: auto;
	margin-right: auto;

	text-align: center;
	font-size:25;
	color:rgb(xxx,xxx,xxx)
	
}
h2 {
	color: rgb(50,50,50)
	background-color; rgb(xxx,xxx,xxx);
	width: 1000px;
	margin-left: auto;
	margin-right: auto;

	text-align: center;
	font-size:25;
	color:rgb(xxx,xxx,xxx)
	
}
h3 {
	color: rgb(50,50,50)
	background-color; rgb(xxx,xxx,xxx);
	width: 1000px;
	margin-left: auto;
	margin-right: auto;

	text-align: center;
	font-size:25;
	color:rgb(xxx,xxx,xxx)
	
}
body {
	background-color; lightblue